In [ ]:

from pyspark.sql import SparkSession 


spark = SparkSession.builder \
    .master("local[*]") \
    .appName("Test") \
    .getOrCreate()

text_file = spark.sparkContext.textFile("sample.txt")

counts = (
    text_file.flatMap(lambda line: line.split(" "))
    .map(lambda word: (word, 1))
    .reduceByKey(lambda a, b: a + b)
)

print(counts.collect())

:

In [30]:
empdf = spark.read.csv("C:\datasets\datasets\emp.csv")

In [31]:
empdf.show()

+---+---+----+
|_c0|_c1| _c2|
+---+---+----+
|111|zzz|8000|
|111|aaa|8888|
|121|bbb|8000|
+---+---+----+

In [27]:
sc= spark.sparkContext
emprdd = sc.textFile("C:\datasets\datasets\emp.csv")

In [29]:
emprdd.collect()

['111,zzz,8000', '111,aaa,8888', '121,bbb,8000']

In [13]:

from pyspark.sql import SparkSession 


spark = SparkSession.builder \
    .master("local[*]") \
    .appName("Test") \
    .getOrCreate()

text_file = spark.sparkContext.textFile("sample.txt")

In [17]:
wordsrdd = text_file.flatMap(lambda line: line.split(" ") )

In [18]:
mapped_rdd = wordsrdd.map(lambda word: (word,1))

In [19]:
wordcountrdd = mapped_rdd.reduceByKey(lambda a,b:a+b)

In [14]:
sc = spark.sparkContext
sc.uiWebUrl

'http://10.33.198.42:4040'

In [15]:
text_file

sample.txt MapPartitionsRDD[44] at textFile at NativeMethodAccessorImpl.java:0

In [16]:
text_file.getNumPartitions()

2

In [20]:
text_file.collect()

['these are words',
 'these are more words',
 'words in english',
 'spark spark spark demo file for word count ']

In [21]:
wordsrdd.collect()

['these',
 'are',
 'words',
 'these',
 'are',
 'more',
 'words',
 'words',
 'in',
 'english',
 'spark',
 'spark',
 'spark',
 'demo',
 'file',
 'for',
 'word',
 'count',
 '']

In [22]:
mapped_rdd.collect()

[('these', 1),
 ('are', 1),
 ('words', 1),
 ('these', 1),
 ('are', 1),
 ('more', 1),
 ('words', 1),
 ('words', 1),
 ('in', 1),
 ('english', 1),
 ('spark', 1),
 ('spark', 1),
 ('spark', 1),
 ('demo', 1),
 ('file', 1),
 ('for', 1),
 ('word', 1),
 ('count', 1),
 ('', 1)]

In [23]:
wordcountrdd.collect()

[('these', 2),
 ('are', 2),
 ('words', 3),
 ('more', 1),
 ('demo', 1),
 ('file', 1),
 ('for', 1),
 ('word', 1),
 ('', 1),
 ('in', 1),
 ('english', 1),
 ('spark', 3),
 ('count', 1)]

In [24]:
wordcountrdd.saveAsTextFile("wordcount_out")

Py4JJavaError: An error occurred while calling o204.saveAsTextFile.
: java.lang.RuntimeException: java.io.FileNotFoundException: java.io.FileNotFoundException: HADOOP_HOME and hadoop.home.dir are unset. -see https://wiki.apache.org/hadoop/WindowsProblems
	at org.apache.hadoop.util.Shell.getWinUtilsPath(Shell.java:735)
	at org.apache.hadoop.util.Shell.getSetPermissionCommand(Shell.java:270)
	at org.apache.hadoop.util.Shell.getSetPermissionCommand(Shell.java:286)
	at org.apache.hadoop.fs.RawLocalFileSystem.setPermission(RawLocalFileSystem.java:978)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkOneDirWithMode(RawLocalFileSystem.java:660)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkdirsWithOptionalPermission(RawLocalFileSystem.java:700)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkdirs(RawLocalFileSystem.java:672)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkdirsWithOptionalPermission(RawLocalFileSystem.java:699)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkdirs(RawLocalFileSystem.java:672)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkdirsWithOptionalPermission(RawLocalFileSystem.java:699)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkdirs(RawLocalFileSystem.java:672)
	at org.apache.hadoop.fs.ChecksumFileSystem.mkdirs(ChecksumFileSystem.java:788)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.setupJob(FileOutputCommitter.java:356)
	at org.apache.hadoop.mapred.FileOutputCommitter.setupJob(FileOutputCommitter.java:131)
	at org.apache.hadoop.mapred.OutputCommitter.setupJob(OutputCommitter.java:265)
	at org.apache.spark.internal.io.HadoopMapReduceCommitProtocol.setupJob(HadoopMapReduceCommitProtocol.scala:188)
	at org.apache.spark.internal.io.SparkHadoopWriter$.write(SparkHadoopWriter.scala:79)
	at org.apache.spark.rdd.PairRDDFunctions.$anonfun$saveAsHadoopDataset$1(PairRDDFunctions.scala:1091)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:410)
	at org.apache.spark.rdd.PairRDDFunctions.saveAsHadoopDataset(PairRDDFunctions.scala:1089)
	at org.apache.spark.rdd.PairRDDFunctions.$anonfun$saveAsHadoopFile$4(PairRDDFunctions.scala:1062)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:410)
	at org.apache.spark.rdd.PairRDDFunctions.saveAsHadoopFile(PairRDDFunctions.scala:1027)
	at org.apache.spark.rdd.PairRDDFunctions.$anonfun$saveAsHadoopFile$3(PairRDDFunctions.scala:1009)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:410)
	at org.apache.spark.rdd.PairRDDFunctions.saveAsHadoopFile(PairRDDFunctions.scala:1008)
	at org.apache.spark.rdd.PairRDDFunctions.$anonfun$saveAsHadoopFile$2(PairRDDFunctions.scala:965)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:410)
	at org.apache.spark.rdd.PairRDDFunctions.saveAsHadoopFile(PairRDDFunctions.scala:963)
	at org.apache.spark.rdd.RDD.$anonfun$saveAsTextFile$2(RDD.scala:1623)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:410)
	at org.apache.spark.rdd.RDD.saveAsTextFile(RDD.scala:1623)
	at org.apache.spark.rdd.RDD.$anonfun$saveAsTextFile$1(RDD.scala:1609)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:410)
	at org.apache.spark.rdd.RDD.saveAsTextFile(RDD.scala:1609)
	at org.apache.spark.api.java.JavaRDDLike.saveAsTextFile(JavaRDDLike.scala:564)
	at org.apache.spark.api.java.JavaRDDLike.saveAsTextFile$(JavaRDDLike.scala:563)
	at org.apache.spark.api.java.AbstractJavaRDDLike.saveAsTextFile(JavaRDDLike.scala:45)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: java.io.FileNotFoundException: java.io.FileNotFoundException: HADOOP_HOME and hadoop.home.dir are unset. -see https://wiki.apache.org/hadoop/WindowsProblems
	at org.apache.hadoop.util.Shell.fileNotFoundException(Shell.java:547)
	at org.apache.hadoop.util.Shell.getHadoopHomeDir(Shell.java:568)
	at org.apache.hadoop.util.Shell.getQualifiedBin(Shell.java:591)
	at org.apache.hadoop.util.Shell.<clinit>(Shell.java:688)
	at org.apache.hadoop.util.StringUtils.<clinit>(StringUtils.java:79)
	at org.apache.hadoop.conf.Configuration.getTimeDurationHelper(Configuration.java:1907)
	at org.apache.hadoop.conf.Configuration.getTimeDuration(Configuration.java:1867)
	at org.apache.hadoop.conf.Configuration.getTimeDuration(Configuration.java:1840)
	at org.apache.hadoop.util.ShutdownHookManager.getShutdownTimeout(ShutdownHookManager.java:183)
	at org.apache.hadoop.util.ShutdownHookManager$HookEntry.<init>(ShutdownHookManager.java:207)
	at org.apache.hadoop.util.ShutdownHookManager.addShutdownHook(ShutdownHookManager.java:304)
	at org.apache.spark.util.SparkShutdownHookManager.install(ShutdownHookManager.scala:181)
	at org.apache.spark.util.ShutdownHookManager$.shutdownHooks$lzycompute(ShutdownHookManager.scala:50)
	at org.apache.spark.util.ShutdownHookManager$.shutdownHooks(ShutdownHookManager.scala:48)
	at org.apache.spark.util.ShutdownHookManager$.addShutdownHook(ShutdownHookManager.scala:153)
	at org.apache.spark.util.ShutdownHookManager$.<init>(ShutdownHookManager.scala:58)
	at org.apache.spark.util.ShutdownHookManager$.<clinit>(ShutdownHookManager.scala)
	at org.apache.spark.util.Utils$.createTempDir(Utils.scala:242)
	at org.apache.spark.util.SparkFileUtils.createTempDir(SparkFileUtils.scala:103)
	at org.apache.spark.util.SparkFileUtils.createTempDir$(SparkFileUtils.scala:102)
	at org.apache.spark.util.Utils$.createTempDir(Utils.scala:94)
	at org.apache.spark.deploy.SparkSubmit.prepareSubmitEnvironment(SparkSubmit.scala:377)
	at org.apache.spark.deploy.SparkSubmit.org$apache$spark$deploy$SparkSubmit$$runMain(SparkSubmit.scala:969)
	at org.apache.spark.deploy.SparkSubmit.doRunMain$1(SparkSubmit.scala:199)
	at org.apache.spark.deploy.SparkSubmit.submit(SparkSubmit.scala:222)
	at org.apache.spark.deploy.SparkSubmit.doSubmit(SparkSubmit.scala:91)
	at org.apache.spark.deploy.SparkSubmit$$anon$2.doSubmit(SparkSubmit.scala:1125)
	at org.apache.spark.deploy.SparkSubmit$.main(SparkSubmit.scala:1134)
	at org.apache.spark.deploy.SparkSubmit.main(SparkSubmit.scala)
Caused by: java.io.FileNotFoundException: HADOOP_HOME and hadoop.home.dir are unset.
	at org.apache.hadoop.util.Shell.checkHadoopHomeInner(Shell.java:467)
	at org.apache.hadoop.util.Shell.checkHadoopHome(Shell.java:438)
	at org.apache.hadoop.util.Shell.<clinit>(Shell.java:515)
	... 25 more

In [38]:
src = "C:\datasets\datasets\patient.csv"

patient_df = spark.read.option("header","true").option("inferSchema","true").csv(src)

In [39]:
patient_df.show()

+----------+-----+-------+------+------------+
|patient_id|pname|   drug|gender|sales_amount|
+----------+-----+-------+------+------------+
|       111|  aaa|   Para|     m|         900|
|       111|  aaa|metacin|     m|         800|
|       222|  bbb| Crocin|     f|         600|
|       222|  bbb|   Para|     f|         999|
|       333|  ccc| calpol|     f|         500|
|       444|  ddd|    hcq|     m|         500|
|       111|  aaa|    hcq|     m|         600|
|       555|  eee|cetzine|     m|         700|
|       333|  ccc|   Para|     m|         444|
|       111|  aaa|   Para|     m|         500|
|       111|  aaa|metacin|     m|         800|
|       222|  bbb| Crocin|     f|         600|
|       222|  bbb|   Para|     f|         999|
|       333|  ccc| calpol|     f|         500|
|       444|  ddd|    hcq|     m|         500|
|       111|  aaa|    hcq|     m|         600|
|       555|  eee|cetzine|     m|         700|
|       333|  ccc|   Para|     m|         444|
|       111|  aaa|   Para|     m|         500|
|       111|  aaa|metacin|     m|         800|
+----------+-----+-------+------+------------+
only showing top 20 rows

In [40]:
patient_df.dtypes

[('patient_id', 'int'),
 ('pname', 'string'),
 ('drug', 'string'),
 ('gender', 'string'),
 ('sales_amount', 'int')]

In [41]:
patient_df.printSchema()

root
 |-- patient_id: integer (nullable = true)
 |-- pname: string (nullable = true)
 |-- drug: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- sales_amount: integer (nullable = true)

In [42]:
patient_df.show(5)

+----------+-----+-------+------+------------+
|patient_id|pname|   drug|gender|sales_amount|
+----------+-----+-------+------+------------+
|       111|  aaa|   Para|     m|         900|
|       111|  aaa|metacin|     m|         800|
|       222|  bbb| Crocin|     f|         600|
|       222|  bbb|   Para|     f|         999|
|       333|  ccc| calpol|     f|         500|
+----------+-----+-------+------+------------+
only showing top 5 rows

In [44]:
patient_df.head(3)

[Row(patient_id=111, pname='aaa', drug='Para', gender='m', sales_amount=900),
 Row(patient_id=111, pname='aaa', drug='metacin', gender='m', sales_amount=800),
 Row(patient_id=222, pname='bbb', drug='Crocin', gender='f', sales_amount=600)]

In [46]:
patient_df.tail(1)

[Row(patient_id=333, pname='ccc', drug='Para', gender='m', sales_amount=444)]

In [49]:
patient_df.limit(3).show()

+----------+-----+-------+------+------------+
|patient_id|pname|   drug|gender|sales_amount|
+----------+-----+-------+------+------------+
|       111|  aaa|   Para|     m|         900|
|       111|  aaa|metacin|     m|         800|
|       222|  bbb| Crocin|     f|         600|
+----------+-----+-------+------+------------+

In [52]:
patient_df.first()

Row(patient_id=111, pname='aaa', drug='Para', gender='m', sales_amount=900)

In [56]:
patient_df.filter("Drug = 'Para'").show()

+----------+-----+----+------+------------+
|patient_id|pname|drug|gender|sales_amount|
+----------+-----+----+------+------------+
|       111|  aaa|Para|     m|         900|
|       222|  bbb|Para|     f|         999|
|       333|  ccc|Para|     m|         444|
|       111|  aaa|Para|     m|         500|
|       222|  bbb|Para|     f|         999|
|       333|  ccc|Para|     m|         444|
|       111|  aaa|Para|     m|         500|
|       222|  bbb|Para|     f|         999|
|       333|  ccc|Para|     m|         444|
+----------+-----+----+------+------------+

In [57]:
patient_df.where("Drug='Para'").show()

+----------+-----+----+------+------------+
|patient_id|pname|drug|gender|sales_amount|
+----------+-----+----+------+------------+
|       111|  aaa|Para|     m|         900|
|       222|  bbb|Para|     f|         999|
|       333|  ccc|Para|     m|         444|
|       111|  aaa|Para|     m|         500|
|       222|  bbb|Para|     f|         999|
|       333|  ccc|Para|     m|         444|
|       111|  aaa|Para|     m|         500|
|       222|  bbb|Para|     f|         999|
|       333|  ccc|Para|     m|         444|
+----------+-----+----+------+------------+

In [58]:
patient_df.where("sales_amount>800").show()

+----------+-----+----+------+------------+
|patient_id|pname|drug|gender|sales_amount|
+----------+-----+----+------+------------+
|       111|  aaa|Para|     m|         900|
|       222|  bbb|Para|     f|         999|
|       222|  bbb|Para|     f|         999|
|       222|  bbb|Para|     f|         999|
+----------+-----+----+------+------------+

In [62]:
patient_df.where("sales_amount>800 and gender ='m'").show()

+----------+-----+----+------+------------+
|patient_id|pname|drug|gender|sales_amount|
+----------+-----+----+------+------------+
|       111|  aaa|Para|     m|         900|
+----------+-----+----+------+------------+

In [63]:
patient_df.where("sales_amount>800 or gender ='m'").show()

+----------+-----+-------+------+------------+
|patient_id|pname|   drug|gender|sales_amount|
+----------+-----+-------+------+------------+
|       111|  aaa|   Para|     m|         900|
|       111|  aaa|metacin|     m|         800|
|       222|  bbb|   Para|     f|         999|
|       444|  ddd|    hcq|     m|         500|
|       111|  aaa|    hcq|     m|         600|
|       555|  eee|cetzine|     m|         700|
|       333|  ccc|   Para|     m|         444|
|       111|  aaa|   Para|     m|         500|
|       111|  aaa|metacin|     m|         800|
|       222|  bbb|   Para|     f|         999|
|       444|  ddd|    hcq|     m|         500|
|       111|  aaa|    hcq|     m|         600|
|       555|  eee|cetzine|     m|         700|
|       333|  ccc|   Para|     m|         444|
|       111|  aaa|   Para|     m|         500|
|       111|  aaa|metacin|     m|         800|
|       222|  bbb|   Para|     f|         999|
|       444|  ddd|    hcq|     m|         500|
|       111|  aaa|    hcq|     m|         600|
|       555|  eee|cetzine|     m|         700|
+----------+-----+-------+------+------------+
only showing top 20 rows

In [64]:
patient_df.count()

27

In [65]:
patient_df.distinct().count()

10

In [67]:
patient_df.select("drug").distinct().show()

+-------+
|   drug|
+-------+
| calpol|
|    hcq|
|cetzine|
|metacin|
| Crocin|
|   Para|
+-------+

In [77]:
patient_df.dropDuplicates(["drug"]).show()

+----------+-----+-------+------+------------+
|patient_id|pname|   drug|gender|sales_amount|
+----------+-----+-------+------+------------+
|       222|  bbb| Crocin|     f|         600|
|       111|  aaa|   Para|     m|         900|
|       333|  ccc| calpol|     f|         500|
|       555|  eee|cetzine|     m|         700|
|       444|  ddd|    hcq|     m|         500|
|       111|  aaa|metacin|     m|         800|
+----------+-----+-------+------+------------+

In [78]:
p1 = patient_df.dropDuplicates(["drug"])
p1.count()

6

In [79]:
pat_df = patient_df.select("pname","sales_amount")

In [80]:
pat_df.show()

+-----+------------+
|pname|sales_amount|
+-----+------------+
|  aaa|         900|
|  aaa|         800|
|  bbb|         600|
|  bbb|         999|
|  ccc|         500|
|  ddd|         500|
|  aaa|         600|
|  eee|         700|
|  ccc|         444|
|  aaa|         500|
|  aaa|         800|
|  bbb|         600|
|  bbb|         999|
|  ccc|         500|
|  ddd|         500|
|  aaa|         600|
|  eee|         700|
|  ccc|         444|
|  aaa|         500|
|  aaa|         800|
+-----+------------+
only showing top 20 rows

In [4]:
sales_path = "C:\datasets\datasets\superstore.csv"
sales_df = spark.read.csv(sales_path,header=True,inferSchema=True)

In [82]:
sales_df.show(2)

+-----+--------------+----------+----------+------------+----------+-------------+---------+-------------+---------------+-------------+----------+------+-------+---------------+----------+------------+--------------------+-------+--------+--------+--------+------------+-------------+
|   ID|       OrderID| OrderDate|  ShipDate|    ShipMode|CustomerID| CustomerName|  Segment|         City|          State|      Country|PostalCode|Market| Region|      ProductID|  Category|Sub-Category|         ProductName|  Sales|Quantity|Discount|  Profit|ShippingCost|OrderPriority|
+-----+--------------+----------+----------+------------+----------+-------------+---------+-------------+---------------+-------------+----------+------+-------+---------------+----------+------------+--------------------+-------+--------+--------+--------+------------+-------------+
|32298|CA-2012-124891|31/07/2012|31/07/2012|    Same Day|  RH-19495|  Rick Hansen| Consumer|New York City|       New York|United States|     10024|    US|   East|TEC-AC-10003033|Technology| Accessories|Plantronics CS510...|2309.65|       7|       0|762.1845|     933.57 |     Critical|
|26341| IN-2013-77878|05/02/2013|07/02/2013|Second Class|  JR-16210|Justin Ritter|Corporate|   Wollongong|New South Wales|    Australia|      NULL|  APAC|Oceania|FUR-CH-10003950| Furniture|      Chairs|Novimex Executive...|  Black|3709.395|       9|     0.1|    -288.765|      923.63 |
+-----+--------------+----------+----------+------------+----------+-------------+---------+-------------+---------------+-------------+----------+------+-------+---------------+----------+------------+--------------------+-------+--------+--------+--------+------------+-------------+
only showing top 2 rows

In [83]:
sales_df.count()

51290

In [208]:
sales_df.select("country","state","city").filter("country='India'").show()

+-------+--------------+------------------+
|country|         state|              city|
+-------+--------------+------------------+
|  India|       Gujarat|             Surat|
|  India|       Haryana|         Gorakhpur|
|  India|        Kerala|Thiruvananthapuram|
|  India|     Jharkhand|        Jamshedpur|
|  India|Madhya Pradesh|            Bhopal|
|  India|         Delhi|             Delhi|
|  India|   Uttarakhand|            Raipur|
|  India|   West Bengal|           Naihati|
|  India|         Delhi|             Delhi|
|  India|       Gujarat|          Vadodara|
|  India|         Bihar|        Aurangabad|
|  India|       Haryana|         Gorakhpur|
|  India|     Jharkhand|            Bokaro|
|  India|        Kerala|         Kozhikode|
|  India|Madhya Pradesh|          Jabalpur|
|  India|         Bihar|             Patna|
|  India|        Kerala|             Kochi|
|  India| Uttar Pradesh|              Agra|
|  India|   Uttarakhand|         Dehra Dun|
|  India|  Chhattisgarh|              Kota|
+-------+--------------+------------------+
only showing top 20 rows

In [85]:
sales_df.select("country","state","city").filter("country='India'").count()

1555

In [86]:
sales_df.select("country","state","city").filter("country='India'").distinct().count()

155

In [87]:
sales_df.select("country","state","city").filter("country='India'").dropDuplicates().sort("state","city").show()

+-------+--------------+-------------+
|country|         state|         city|
+-------+--------------+-------------+
|  India|Andhra Pradesh|    Anantapur|
|  India|Andhra Pradesh|       Guntur|
|  India|Andhra Pradesh|     Kakinada|
|  India|Andhra Pradesh|      Nellore|
|  India|Andhra Pradesh|     Tirupati|
|  India|Andhra Pradesh|   Vijayawada|
|  India|Andhra Pradesh|Visakhapatnam|
|  India|         Assam|     Guwahati|
|  India|         Bihar|   Aurangabad|
|  India|         Bihar| Bihar Sharif|
|  India|         Bihar|    Darbhanga|
|  India|         Bihar|         Gaya|
|  India|         Bihar|  Muzaffarpur|
|  India|         Bihar|        Patna|
|  India|    Chandigarh|   Chandigarh|
|  India|  Chhattisgarh|       Bhilai|
|  India|  Chhattisgarh|         Durg|
|  India|  Chhattisgarh|        Korba|
|  India|  Chhattisgarh|         Kota|
|  India|  Chhattisgarh|       Raipur|
+-------+--------------+-------------+
only showing top 20 rows

In [90]:
sales_df.select("country","state","city").filter("country='India'").dropDuplicates().orderBy("state","city").show()

+-------+--------------+-------------+
|country|         state|         city|
+-------+--------------+-------------+
|  India|Andhra Pradesh|    Anantapur|
|  India|Andhra Pradesh|       Guntur|
|  India|Andhra Pradesh|     Kakinada|
|  India|Andhra Pradesh|      Nellore|
|  India|Andhra Pradesh|     Tirupati|
|  India|Andhra Pradesh|   Vijayawada|
|  India|Andhra Pradesh|Visakhapatnam|
|  India|         Assam|     Guwahati|
|  India|         Bihar|   Aurangabad|
|  India|         Bihar| Bihar Sharif|
|  India|         Bihar|    Darbhanga|
|  India|         Bihar|         Gaya|
|  India|         Bihar|  Muzaffarpur|
|  India|         Bihar|        Patna|
|  India|    Chandigarh|   Chandigarh|
|  India|  Chhattisgarh|       Bhilai|
|  India|  Chhattisgarh|         Durg|
|  India|  Chhattisgarh|        Korba|
|  India|  Chhattisgarh|         Kota|
|  India|  Chhattisgarh|       Raipur|
+-------+--------------+-------------+
only showing top 20 rows

In [91]:
sales_df.select("country","state","city")\
    .filter("country='India'")\
    .dropDuplicates().\
    orderBy(["state","city"],ascending=[1,0])\
    .show()

+-------+--------------+-------------+
|country|         state|         city|
+-------+--------------+-------------+
|  India|Andhra Pradesh|Visakhapatnam|
|  India|Andhra Pradesh|   Vijayawada|
|  India|Andhra Pradesh|     Tirupati|
|  India|Andhra Pradesh|      Nellore|
|  India|Andhra Pradesh|     Kakinada|
|  India|Andhra Pradesh|       Guntur|
|  India|Andhra Pradesh|    Anantapur|
|  India|         Assam|     Guwahati|
|  India|         Bihar|        Patna|
|  India|         Bihar|  Muzaffarpur|
|  India|         Bihar|         Gaya|
|  India|         Bihar|    Darbhanga|
|  India|         Bihar| Bihar Sharif|
|  India|         Bihar|   Aurangabad|
|  India|    Chandigarh|   Chandigarh|
|  India|  Chhattisgarh|       Raipur|
|  India|  Chhattisgarh|         Kota|
|  India|  Chhattisgarh|        Korba|
|  India|  Chhattisgarh|         Durg|
|  India|  Chhattisgarh|       Bhilai|
+-------+--------------+-------------+
only showing top 20 rows

In [92]:
sales_df.select("country","state","city")\
    .filter("country='India'")\
    .dropDuplicates().\
    orderBy(["state","city"],ascending=[1,1])\
    .show()

+-------+--------------+-------------+
|country|         state|         city|
+-------+--------------+-------------+
|  India|Andhra Pradesh|    Anantapur|
|  India|Andhra Pradesh|       Guntur|
|  India|Andhra Pradesh|     Kakinada|
|  India|Andhra Pradesh|      Nellore|
|  India|Andhra Pradesh|     Tirupati|
|  India|Andhra Pradesh|   Vijayawada|
|  India|Andhra Pradesh|Visakhapatnam|
|  India|         Assam|     Guwahati|
|  India|         Bihar|   Aurangabad|
|  India|         Bihar| Bihar Sharif|
|  India|         Bihar|    Darbhanga|
|  India|         Bihar|         Gaya|
|  India|         Bihar|  Muzaffarpur|
|  India|         Bihar|        Patna|
|  India|    Chandigarh|   Chandigarh|
|  India|  Chhattisgarh|       Bhilai|
|  India|  Chhattisgarh|         Durg|
|  India|  Chhattisgarh|        Korba|
|  India|  Chhattisgarh|         Kota|
|  India|  Chhattisgarh|       Raipur|
+-------+--------------+-------------+
only showing top 20 rows

In [93]:
sales_df.select("country","state","city")\
    .filter("country='India'")\
    .dropDuplicates().\
    orderBy(["state","city"],ascending=[0,0])\
    .show()

+-------+-------------+------------+
|country|        state|        city|
+-------+-------------+------------+
|  India|  West Bengal|    Panihati|
|  India|  West Bengal|     Naihati|
|  India|  West Bengal|       Kulti|
|  India|  West Bengal|   Kamarhati|
|  India|  West Bengal|    Durgapur|
|  India|  West Bengal|    Bhatpara|
|  India|  West Bengal|  Barddhaman|
|  India|  West Bengal|     Barasat|
|  India|  West Bengal|   Baranagar|
|  India|  West Bengal|     Asansol|
|  India|  Uttarakhand|    Srinagar|
|  India|  Uttarakhand|      Raipur|
|  India|  Uttarakhand|   Dehra Dun|
|  India|Uttar Pradesh|    Varanasi|
|  India|Uttar Pradesh|Shahjahanpur|
|  India|Uttar Pradesh|  Saharanpur|
|  India|Uttar Pradesh|   Moradabad|
|  India|Uttar Pradesh|    Mirzapur|
|  India|Uttar Pradesh|      Meerut|
|  India|Uttar Pradesh|         Mau|
+-------+-------------+------------+
only showing top 20 rows

In [94]:
sales_df.select("country","state","city")\
    .filter("country='India'")\
    .dropDuplicates().\
    orderBy(["state","city"],ascending=[0,1])\
    .show()

+-------+-------------+----------+
|country|        state|      city|
+-------+-------------+----------+
|  India|  West Bengal|   Asansol|
|  India|  West Bengal| Baranagar|
|  India|  West Bengal|   Barasat|
|  India|  West Bengal|Barddhaman|
|  India|  West Bengal|  Bhatpara|
|  India|  West Bengal|  Durgapur|
|  India|  West Bengal| Kamarhati|
|  India|  West Bengal|     Kulti|
|  India|  West Bengal|   Naihati|
|  India|  West Bengal|  Panihati|
|  India|  Uttarakhand| Dehra Dun|
|  India|  Uttarakhand|    Raipur|
|  India|  Uttarakhand|  Srinagar|
|  India|Uttar Pradesh|      Agra|
|  India|Uttar Pradesh|   Aligarh|
|  India|Uttar Pradesh| Allahabad|
|  India|Uttar Pradesh|  Bareilly|
|  India|Uttar Pradesh|  Bilaspur|
|  India|Uttar Pradesh|    Etawah|
|  India|Uttar Pradesh| Firozabad|
+-------+-------------+----------+
only showing top 20 rows

In [97]:
customer_path = "C:\datasets\datasets\Retail\customer.csv"
customer_df = spark.read.csv(customer_path,sep="\t",header=True,inferSchema=True)

In [98]:
customer_df.show()

+---------+------------------+--------------------+-----------+---------------+---------+------------+--------------------+
|C_CUSTKEY|            C_NAME|           C_ADDRESS|C_NATIONKEY|        C_PHONE|C_ACCTBAL|C_MKTSEGMENT|           C_COMMENT|
+---------+------------------+--------------------+-----------+---------------+---------+------------+--------------------+
|        1|Customer#000000001|   IVhzIApeRb ot,c,E|         15|25-989-741-2988|   711.56|    BUILDING|to the even, regu...|
|        2|Customer#000000002|XSTf4,NCwDVaWNe6t...|         13|23-768-687-3665|   121.65|  AUTOMOBILE|l accounts. blith...|
|        3|Customer#000000003|        MG9kdTD2WBHm|          1|11-719-748-3364|  7498.12|  AUTOMOBILE| deposits eat sly...|
|        4|Customer#000000004|         XxVSJsLAGtn|          4|14-128-190-5944|  2866.83|   MACHINERY| requests. final,...|
|        5|Customer#000000005|KvpyuHCplrB84WgAi...|          3|13-750-942-6364|   794.47|   HOUSEHOLD|n accounts will h...|
|        6|Customer#000000006|sKZz0CsnMD7mp4Xd0...|         20|30-114-968-4951|  7638.57|  AUTOMOBILE|tions. even depos...|
|        7|Customer#000000007|TcGe5gaZNgVePxU5k...|         18|28-190-982-9759|  9561.95|  AUTOMOBILE|ainst the ironic,...|
|        8|Customer#000000008|I0B10bB0AymmC, 0P...|         17|27-147-574-9335|  6819.74|    BUILDING|among the slyly r...|
|        9|Customer#000000009|xKiAFTjUsCuxfeleN...|          8|18-338-906-3675|  8324.07|   FURNITURE|r theodolites acc...|
|       10|Customer#000000010|6LrEaV6KR6PLVcgl2...|          5|15-741-346-9870|  2753.54|   HOUSEHOLD|es regular deposi...|
|       11|Customer#000000011|PkWS 3HlXqwTuzrKg...|         23|33-464-151-3439|   -272.6|    BUILDING|ckages. requests ...|
|       12|Customer#000000012|       9PWKuhzT4Zr1Q|         13|23-791-276-1263|  3396.49|   HOUSEHOLD| to the carefully...|
|       13|Customer#000000013|nsXQu0oVjD7PM659u...|          3|13-761-547-5974|  3857.34|    BUILDING|ounts sleep caref...|
|       14|Customer#000000014|     KXkletMlL2JQEA |          1|11-845-129-3851|   5266.3|   FURNITURE|, ironic packages...|
|       15|Customer#000000015|YtWggXoOLdwdo7b0y...|         23|33-687-542-7601|  2788.52|   HOUSEHOLD| platelets. regul...|
|       16|Customer#000000016| cYiaeMLZSMAOQ2 d0W,|         10|20-781-609-3107|  4681.03|   FURNITURE|kly silent courts...|
|       17|Customer#000000017|izrh 6jdqtp2eqdtb...|          2|12-970-682-3487|     6.34|  AUTOMOBILE|packages wake! bl...|
|       18|Customer#000000018|3txGO AiuFux3zT0Z...|          6|16-155-215-1315|  5494.43|    BUILDING|s sleep. carefull...|
|       19|Customer#000000019|uc,3bHIx84H,wdrmL...|         18|28-396-526-5053|  8914.71|   HOUSEHOLD| nag. furiously c...|
|       20|Customer#000000020|       JrPk8Pqplj4Ne|         22|32-957-234-8742|   7603.4|   FURNITURE|g alongside of th...|
+---------+------------------+--------------------+-----------+---------------+---------+------------+--------------------+
only showing top 20 rows

In [100]:
nation_df = spark.read.csv("C:\datasets\datasets\Retail\\nation.csv",sep="\t",header=True,inferSchema=True)

In [101]:
nation_df.show()

+-----------+----------+-----------+--------------------+
|N_NATIONKEY|    N_NAME|N_REGIONKEY|           N_COMMENT|
+-----------+----------+-----------+--------------------+
|          0|   ALGERIA|          0| haggle. carefull...|
|          1| ARGENTINA|          1|al foxes promise ...|
|          2|    BRAZIL|          1|y alongside of th...|
|          3|    CANADA|          1|eas hang ironic, ...|
|          4|     EGYPT|          4|y above the caref...|
|          5|  ETHIOPIA|          0|ven packages wake...|
|          6|    FRANCE|          3|refully final req...|
|          7|   GERMANY|          3|l platelets. regu...|
|          8|     INDIA|          2|ss excuses cajole...|
|          9| INDONESIA|          2| slyly express as...|
|         10|      IRAN|          4|efully alongside ...|
|         11|      IRAQ|          4|nic deposits boos...|
|         12|     JAPAN|          2|ously. final, exp...|
|         13|    JORDAN|          4|ic deposits are b...|
|         14|     KENYA|          0| pending excuses ...|
|         15|   MOROCCO|          0|rns. blithely bol...|
|         16|MOZAMBIQUE|          0|s. ironic, unusua...|
|         17|      PERU|          1|platelets. blithe...|
|         18|     CHINA|          2|c dependencies. f...|
|         19|   ROMANIA|          3|ular asymptotes a...|
+-----------+----------+-----------+--------------------+
only showing top 20 rows

In [103]:
region_df = spark.read.csv("C:\datasets\datasets\Retail\\region.csv",sep="\t",header=True,inferSchema=True)

In [104]:
region_df.show()

+-----------+-----------+--------------------+
|R_REGIONKEY|     R_NAME|           R_COMMENT|
+-----------+-----------+--------------------+
|          0|     AFRICA|lar deposits. bli...|
|          1|    AMERICA|hs use ironic, ev...|
|          2|       ASIA|ges. thinly even ...|
|          3|     EUROPE|ly final courts c...|
|          4|MIDDLE EAST|uickly special ac...|
+-----------+-----------+--------------------+

In [118]:

nation_regiondf = nation_df.join(region_df,nation_df.N_REGIONKEY == region_df.R_REGIONKEY,"inner")

In [119]:
nation_regiondf.show()

+-----------+----------+-----------+--------------------+-----------+-----------+--------------------+
|N_NATIONKEY|    N_NAME|N_REGIONKEY|           N_COMMENT|R_REGIONKEY|     R_NAME|           R_COMMENT|
+-----------+----------+-----------+--------------------+-----------+-----------+--------------------+
|          0|   ALGERIA|          0| haggle. carefull...|          0|     AFRICA|lar deposits. bli...|
|          1| ARGENTINA|          1|al foxes promise ...|          1|    AMERICA|hs use ironic, ev...|
|          2|    BRAZIL|          1|y alongside of th...|          1|    AMERICA|hs use ironic, ev...|
|          3|    CANADA|          1|eas hang ironic, ...|          1|    AMERICA|hs use ironic, ev...|
|          4|     EGYPT|          4|y above the caref...|          4|MIDDLE EAST|uickly special ac...|
|          5|  ETHIOPIA|          0|ven packages wake...|          0|     AFRICA|lar deposits. bli...|
|          6|    FRANCE|          3|refully final req...|          3|     EUROPE|ly final courts c...|
|          7|   GERMANY|          3|l platelets. regu...|          3|     EUROPE|ly final courts c...|
|          8|     INDIA|          2|ss excuses cajole...|          2|       ASIA|ges. thinly even ...|
|          9| INDONESIA|          2| slyly express as...|          2|       ASIA|ges. thinly even ...|
|         10|      IRAN|          4|efully alongside ...|          4|MIDDLE EAST|uickly special ac...|
|         11|      IRAQ|          4|nic deposits boos...|          4|MIDDLE EAST|uickly special ac...|
|         12|     JAPAN|          2|ously. final, exp...|          2|       ASIA|ges. thinly even ...|
|         13|    JORDAN|          4|ic deposits are b...|          4|MIDDLE EAST|uickly special ac...|
|         14|     KENYA|          0| pending excuses ...|          0|     AFRICA|lar deposits. bli...|
|         15|   MOROCCO|          0|rns. blithely bol...|          0|     AFRICA|lar deposits. bli...|
|         16|MOZAMBIQUE|          0|s. ironic, unusua...|          0|     AFRICA|lar deposits. bli...|
|         17|      PERU|          1|platelets. blithe...|          1|    AMERICA|hs use ironic, ev...|
|         18|     CHINA|          2|c dependencies. f...|          2|       ASIA|ges. thinly even ...|
|         19|   ROMANIA|          3|ular asymptotes a...|          3|     EUROPE|ly final courts c...|
+-----------+----------+-----------+--------------------+-----------+-----------+--------------------+
only showing top 20 rows

In [120]:
nation_regiondf = nation_regiondf.drop("n_comment","r_regionkey","r_comment")

In [121]:
nation_regiondf.show()

+-----------+----------+-----------+-----------+
|N_NATIONKEY|    N_NAME|N_REGIONKEY|     R_NAME|
+-----------+----------+-----------+-----------+
|          0|   ALGERIA|          0|     AFRICA|
|          1| ARGENTINA|          1|    AMERICA|
|          2|    BRAZIL|          1|    AMERICA|
|          3|    CANADA|          1|    AMERICA|
|          4|     EGYPT|          4|MIDDLE EAST|
|          5|  ETHIOPIA|          0|     AFRICA|
|          6|    FRANCE|          3|     EUROPE|
|          7|   GERMANY|          3|     EUROPE|
|          8|     INDIA|          2|       ASIA|
|          9| INDONESIA|          2|       ASIA|
|         10|      IRAN|          4|MIDDLE EAST|
|         11|      IRAQ|          4|MIDDLE EAST|
|         12|     JAPAN|          2|       ASIA|
|         13|    JORDAN|          4|MIDDLE EAST|
|         14|     KENYA|          0|     AFRICA|
|         15|   MOROCCO|          0|     AFRICA|
|         16|MOZAMBIQUE|          0|     AFRICA|
|         17|      PERU|          1|    AMERICA|
|         18|     CHINA|          2|       ASIA|
|         19|   ROMANIA|          3|     EUROPE|
+-----------+----------+-----------+-----------+
only showing top 20 rows

In [125]:
customer_regnatdf = customer_df.join(nation_regiondf,customer_df.C_NATIONKEY==nation_regiondf.N_NATIONKEY,"inner")

In [126]:
customer_regnatdf.show()

+---------+------------------+--------------------+-----------+---------------+---------+------------+--------------------+-----------+-------+-----------+------+
|C_CUSTKEY|            C_NAME|           C_ADDRESS|C_NATIONKEY|        C_PHONE|C_ACCTBAL|C_MKTSEGMENT|           C_COMMENT|N_NATIONKEY| N_NAME|N_REGIONKEY|R_NAME|
+---------+------------------+--------------------+-----------+---------------+---------+------------+--------------------+-----------+-------+-----------+------+
|     1475|Customer#000001475|    4tUf4SaYTFV2H7ji|          0|10-932-794-2009|  1820.28|    BUILDING|uctions sleep bli...|          0|ALGERIA|          0|AFRICA|
|     1473|Customer#000001473| UPkONG9dy4VYyGNJGHG|          0|10-891-555-7734|  2796.93|   MACHINERY|uriously. quickly...|          0|ALGERIA|          0|AFRICA|
|     1453|Customer#000001453|FTfWkW1 8jVgOIIR9...|          0|10-852-397-3642|   662.67|    BUILDING| to wake above th...|          0|ALGERIA|          0|AFRICA|
|     1430|Customer#000001430|   mv 9MEDwd8yPeQj7N|          0|10-209-317-6929|   -920.4|    BUILDING|nic deposits. bol...|          0|ALGERIA|          0|AFRICA|
|     1400|Customer#000001400|         BuouRkR7J f|          0|10-217-180-5310|  2432.73|    BUILDING|etect fluffily fi...|          0|ALGERIA|          0|AFRICA|
|     1399|Customer#000001399|         FOuY,endAFj|          0|10-775-919-7154|  7352.14|  AUTOMOBILE|foxes across the ...|          0|ALGERIA|          0|AFRICA|
|     1283|Customer#000001283|6JeLWEtDERPB,0KzW...|          0|10-203-771-2219|  2222.71|  AUTOMOBILE| blithely daringl...|          0|ALGERIA|          0|AFRICA|
|     1247|Customer#000001247|q5,Og3ezW3jSUtbwK...|          0|10-386-173-3167|  1696.95|   MACHINERY|s against the qui...|          0|ALGERIA|          0|AFRICA|
|     1226|Customer#000001226|         HKR1zog fXW|          0|10-251-221-9440|  2135.92|   FURNITURE|ns. furiously pen...|          0|ALGERIA|          0|AFRICA|
|     1202|Customer#000001202|xThQDiKdG,0sU Idu...|          0|10-788-256-6117|   702.73|    BUILDING|accounts. fluffil...|          0|ALGERIA|          0|AFRICA|
|     1197|Customer#000001197|         9A1LTDf0KbR|          0|10-254-891-7835|  9261.05|   FURNITURE|ording to the sly...|          0|ALGERIA|          0|AFRICA|
|     1164|Customer#000001164|XWfNRnO2S5KAW0Vod...|          0|10-828-178-5049|  7341.35|   HOUSEHOLD| ideas use. unusu...|          0|ALGERIA|          0|AFRICA|
|     1128|Customer#000001128|72XUL0qb4,NLmfyrt...|          0|10-392-200-8982|  8123.99|    BUILDING|odolites accordin...|          0|ALGERIA|          0|AFRICA|
|     1122|Customer#000001122|9lxNEW0Rei4DFaT4v...|          0|10-257-957-3327|    45.21|    BUILDING|egular, regular i...|          0|ALGERIA|          0|AFRICA|
|     1066|Customer#000001066|2Ge 0Nk29FlBs1GuB...|          0|10-333-463-4472|   949.68|   MACHINERY|requests. slyly f...|          0|ALGERIA|          0|AFRICA|
|     1044|Customer#000001044|     Eh2e8gLyStrLE7A|          0|10-451-459-9620|   7291.3|    BUILDING|ly across the sly...|          0|ALGERIA|          0|AFRICA|
|      990|Customer#000000990|uF idg4bq8Ij7ghxJ...|          0|10-403-137-1064|  6988.49|    BUILDING|dolites for the f...|          0|ALGERIA|          0|AFRICA|
|      973|Customer#000000973|       FT4jTOdVCpmYW|          0|10-749-928-5415|  3229.18|   FURNITURE|sly special reque...|          0|ALGERIA|          0|AFRICA|
|      968|Customer#000000968|eu 5FA1WHs9jq0pcd...|          0|10-470-740-2657|  8921.97|    BUILDING|ic foxes haggle s...|          0|ALGERIA|          0|AFRICA|
|      955|Customer#000000955|    FIis0dJhR5DwVCLy|          0|10-918-863-8880|   138.31|  AUTOMOBILE|ts cajole quickly...|          0|ALGERIA|          0|AFRICA|
+---------+------------------+--------------------+-----------+---------------+---------+------------+--------------------+-----------+-------+-----------+------+
only showing top 20 rows

In [127]:
from pyspark.sql.types import StructType,StructField,StringType,IntegerType,DoubleType

In [131]:
EmpSchema = StructType([  
    StructField('Emp_id', IntegerType(), True), 
    StructField('Empname', StringType(), True),
    StructField('MGR', IntegerType(), True), 
   StructField('YOJ', StringType(), True), 
     StructField('dept_id', StringType(), True), 
    StructField('gender', StringType(), True), 
     StructField('salary', DoubleType(), True) 
])

In [129]:
emp = [(1,"Smith",1,"2018","10","M",3000.00), 
    (2,"Rose",1,"2010","20","M",4000.00), 
    (3,"Williams",1,"2010","10","M",1000.00), 
    (4,"Jones",2,"2005","10","F",2000.00), 
    (5,"Brown",2,"2010","40","",300.00), 
      (6,"Brown",2,"2010","50","",2000.00) 
  ]

In [132]:
empDf = spark.createDataFrame(data=emp,schema=EmpSchema)

In [133]:
empDf.show()

+------+--------+---+----+-------+------+------+
|Emp_id| Empname|MGR| YOJ|dept_id|gender|salary|
+------+--------+---+----+-------+------+------+
|     1|   Smith|  1|2018|     10|     M|3000.0|
|     2|    Rose|  1|2010|     20|     M|4000.0|
|     3|Williams|  1|2010|     10|     M|1000.0|
|     4|   Jones|  2|2005|     10|     F|2000.0|
|     5|   Brown|  2|2010|     40|      | 300.0|
|     6|   Brown|  2|2010|     50|      |2000.0|
+------+--------+---+----+-------+------+------+

In [134]:
dept = [("Finance",10), 
    ("Marketing",20), 
    ("Sales",30), 
    ("IT",40) 
  ]

deptColumns = ["dept_name","dept_id"]

In [135]:
deptDf = spark.createDataFrame(data=dept,schema=deptColumns)

In [136]:
deptDf.show()

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|  Finance|     10|
|Marketing|     20|
|    Sales|     30|
|       IT|     40|
+---------+-------+

In [137]:
empDf.printSchema()

root
 |-- Emp_id: integer (nullable = true)
 |-- Empname: string (nullable = true)
 |-- MGR: integer (nullable = true)
 |-- YOJ: string (nullable = true)
 |-- dept_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: double (nullable = true)

In [138]:
deptDf.printSchema()

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: long (nullable = true)

In [141]:
#empDf.join(deptDf,"dept_id","inner").show()
empDf.join(deptDf,empDf.dept_id==deptDf.dept_id,"inner").show()

+------+--------+---+----+-------+------+------+---------+-------+
|Emp_id| Empname|MGR| YOJ|dept_id|gender|salary|dept_name|dept_id|
+------+--------+---+----+-------+------+------+---------+-------+
|     1|   Smith|  1|2018|     10|     M|3000.0|  Finance|     10|
|     3|Williams|  1|2010|     10|     M|1000.0|  Finance|     10|
|     4|   Jones|  2|2005|     10|     F|2000.0|  Finance|     10|
|     2|    Rose|  1|2010|     20|     M|4000.0|Marketing|     20|
|     5|   Brown|  2|2010|     40|      | 300.0|       IT|     40|
+------+--------+---+----+-------+------+------+---------+-------+

In [142]:
empDf.join(deptDf,empDf.dept_id==deptDf.dept_id,"left").show()

+------+--------+---+----+-------+------+------+---------+-------+
|Emp_id| Empname|MGR| YOJ|dept_id|gender|salary|dept_name|dept_id|
+------+--------+---+----+-------+------+------+---------+-------+
|     1|   Smith|  1|2018|     10|     M|3000.0|  Finance|     10|
|     3|Williams|  1|2010|     10|     M|1000.0|  Finance|     10|
|     2|    Rose|  1|2010|     20|     M|4000.0|Marketing|     20|
|     4|   Jones|  2|2005|     10|     F|2000.0|  Finance|     10|
|     6|   Brown|  2|2010|     50|      |2000.0|     NULL|   NULL|
|     5|   Brown|  2|2010|     40|      | 300.0|       IT|     40|
+------+--------+---+----+-------+------+------+---------+-------+

In [143]:
empDf.join(deptDf,empDf.dept_id==deptDf.dept_id,"right").show()

+------+--------+----+----+-------+------+------+---------+-------+
|Emp_id| Empname| MGR| YOJ|dept_id|gender|salary|dept_name|dept_id|
+------+--------+----+----+-------+------+------+---------+-------+
|     4|   Jones|   2|2005|     10|     F|2000.0|  Finance|     10|
|     3|Williams|   1|2010|     10|     M|1000.0|  Finance|     10|
|     1|   Smith|   1|2018|     10|     M|3000.0|  Finance|     10|
|     2|    Rose|   1|2010|     20|     M|4000.0|Marketing|     20|
|  NULL|    NULL|NULL|NULL|   NULL|  NULL|  NULL|    Sales|     30|
|     5|   Brown|   2|2010|     40|      | 300.0|       IT|     40|
+------+--------+----+----+-------+------+------+---------+-------+

In [144]:
empDf.join(deptDf,empDf.dept_id==deptDf.dept_id,"full").show()

+------+--------+----+----+-------+------+------+---------+-------+
|Emp_id| Empname| MGR| YOJ|dept_id|gender|salary|dept_name|dept_id|
+------+--------+----+----+-------+------+------+---------+-------+
|     1|   Smith|   1|2018|     10|     M|3000.0|  Finance|     10|
|     3|Williams|   1|2010|     10|     M|1000.0|  Finance|     10|
|     4|   Jones|   2|2005|     10|     F|2000.0|  Finance|     10|
|     2|    Rose|   1|2010|     20|     M|4000.0|Marketing|     20|
|  NULL|    NULL|NULL|NULL|   NULL|  NULL|  NULL|    Sales|     30|
|     5|   Brown|   2|2010|     40|      | 300.0|       IT|     40|
|     6|   Brown|   2|2010|     50|      |2000.0|     NULL|   NULL|
+------+--------+----+----+-------+------+------+---------+-------+

In [146]:
empDf.join(deptDf,empDf.dept_id==deptDf.dept_id,"leftSemi").show()

+------+--------+---+----+-------+------+------+
|Emp_id| Empname|MGR| YOJ|dept_id|gender|salary|
+------+--------+---+----+-------+------+------+
|     1|   Smith|  1|2018|     10|     M|3000.0|
|     3|Williams|  1|2010|     10|     M|1000.0|
|     4|   Jones|  2|2005|     10|     F|2000.0|
|     2|    Rose|  1|2010|     20|     M|4000.0|
|     5|   Brown|  2|2010|     40|      | 300.0|
+------+--------+---+----+-------+------+------+

In [147]:
empDf.join(deptDf,empDf.dept_id==deptDf.dept_id,"leftanti").show()

+------+-------+---+----+-------+------+------+
|Emp_id|Empname|MGR| YOJ|dept_id|gender|salary|
+------+-------+---+----+-------+------+------+
|     6|  Brown|  2|2010|     50|      |2000.0|
+------+-------+---+----+-------+------+------+

In [148]:
deptDf.join(empDf,empDf.dept_id==deptDf.dept_id,"leftanti").show()

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|    Sales|     30|
+---------+-------+

In [149]:
deptDf.join(empDf,empDf.dept_id==deptDf.dept_id,"leftsemi").show()

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|  Finance|     10|
|Marketing|     20|
|       IT|     40|
+---------+-------+

In [150]:
empDf.join(deptDf,empDf.dept_id==deptDf.dept_id,"cross").show()

+------+--------+---+----+-------+------+------+---------+-------+
|Emp_id| Empname|MGR| YOJ|dept_id|gender|salary|dept_name|dept_id|
+------+--------+---+----+-------+------+------+---------+-------+
|     1|   Smith|  1|2018|     10|     M|3000.0|  Finance|     10|
|     3|Williams|  1|2010|     10|     M|1000.0|  Finance|     10|
|     4|   Jones|  2|2005|     10|     F|2000.0|  Finance|     10|
|     2|    Rose|  1|2010|     20|     M|4000.0|Marketing|     20|
|     5|   Brown|  2|2010|     40|      | 300.0|       IT|     40|
+------+--------+---+----+-------+------+------+---------+-------+

In [154]:
emp_dept_df = empDf.join(deptDf,"dept_id","inner")

In [155]:
emp_dept_df.show()

+-------+------+--------+---+----+------+------+---------+
|dept_id|Emp_id| Empname|MGR| YOJ|gender|salary|dept_name|
+-------+------+--------+---+----+------+------+---------+
|     10|     1|   Smith|  1|2018|     M|3000.0|  Finance|
|     10|     3|Williams|  1|2010|     M|1000.0|  Finance|
|     10|     4|   Jones|  2|2005|     F|2000.0|  Finance|
|     20|     2|    Rose|  1|2010|     M|4000.0|Marketing|
|     40|     5|   Brown|  2|2010|      | 300.0|       IT|
+-------+------+--------+---+----+------+------+---------+

In [156]:
emp_dept_df.groupBy("dept_name").sum("salary").show()

+---------+-----------+
|dept_name|sum(salary)|
+---------+-----------+
|  Finance|     6000.0|
|Marketing|     4000.0|
|       IT|      300.0|
+---------+-----------+

In [163]:
emp_dept_df.groupBy("dept_name").sum("salary").withColumnRenamed("sum(salary)","totalSal").show()

+---------+--------+
|dept_name|totalSal|
+---------+--------+
|  Finance|  6000.0|
|Marketing|  4000.0|
|       IT|   300.0|
+---------+--------+

In [166]:
from pyspark.sql.functions import *

emp_dept_df.groupBy("dept_name").agg(sum("salary").alias("totalSal")).show()

+---------+--------+
|dept_name|totalSal|
+---------+--------+
|  Finance|  6000.0|
|Marketing|  4000.0|
|       IT|   300.0|
+---------+--------+

In [167]:
emp_dept_df.groupBy("dept_name").agg(sum("salary").alias("totalSal"),avg("salary").alias("avgSal")).show()

+---------+--------+------+
|dept_name|totalSal|avgSal|
+---------+--------+------+
|  Finance|  6000.0|2000.0|
|Marketing|  4000.0|4000.0|
|       IT|   300.0| 300.0|
+---------+--------+------+

In [179]:
dept_saldf = emp_dept_df.groupBy("dept_name","gender").agg(sum("salary").alias("totalSal"),avg("salary").alias("avgSal"))

In [173]:
dept_saldf.show()

+---------+------+--------+------+
|dept_name|gender|totalSal|avgSal|
+---------+------+--------+------+
|  Finance|     F|  2000.0|2000.0|
|  Finance|     M|  4000.0|2000.0|
|       IT|      |   300.0| 300.0|
|Marketing|     M|  4000.0|4000.0|
+---------+------+--------+------+

In [188]:
dept_salnew=dept_saldf.replace("","None","gender")

In [189]:
dept_salnew.show()

+---------+------+--------+------+
|dept_name|gender|totalSal|avgSal|
+---------+------+--------+------+
|  Finance|     F|  2000.0|2000.0|
|  Finance|     M|  4000.0|2000.0|
|       IT|  None|   300.0| 300.0|
|Marketing|     M|  4000.0|4000.0|
+---------+------+--------+------+

In [190]:
dept_salnew=dept_saldf.replace("",None,"gender").dropna()
dept_salnew.show()

+---------+------+--------+------+
|dept_name|gender|totalSal|avgSal|
+---------+------+--------+------+
|  Finance|     F|  2000.0|2000.0|
|  Finance|     M|  4000.0|2000.0|
|Marketing|     M|  4000.0|4000.0|
+---------+------+--------+------+

In [191]:
employeeDf = spark.read.csv("C:\datasets\datasets\employee.csv",header=True,inferSchema=True)

In [192]:
employeeDf.show()

+-----+-----+----+
|empno|ename| sal|
+-----+-----+----+
|  111|  zzz|8000|
|  111|  aaa|8888|
|  121|  bbb|8000|
| NULL|  ccc|9000|
|false|  ddd|6000|
|  555|  eee|7000|
|  765| NULL|NULL|
|  666|  fff|8890|
|  aaa| NULL|NULL|
| True| NULL|NULL|
| true| NULL|NULL|
|    a|    b|   c|
|    x| NULL|NULL|
| 1000| null|null|
|  222| NULL|NULL|
+-----+-----+----+

In [193]:
employeeDf = spark.read.option("mode","dropmalformed").csv("C:\datasets\datasets\employee.csv",header=True,inferSchema=True)

In [194]:
employeeDf.show()

+-----+-----+----+
|empno|ename| sal|
+-----+-----+----+
|  111|  zzz|8000|
|  111|  aaa|8888|
|  121|  bbb|8000|
| NULL|  ccc|9000|
|false|  ddd|6000|
|  555|  eee|7000|
|  666|  fff|8890|
|  aaa| NULL|NULL|
|    x| NULL|NULL|
| 1000| null|null|
|  222| NULL|NULL|
+-----+-----+----+

In [195]:
employeeDf = spark.read.option("mode","failfast").csv("C:\datasets\datasets\employee.csv",header=True,inferSchema=True)

In [196]:
employeeDf.show()

Py4JJavaError: An error occurred while calling o1481.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 392.0 failed 1 times, most recent failure: Lost task 0.0 in stage 392.0 (TID 469) (10.33.198.42 executor driver): org.apache.spark.SparkException: [MALFORMED_RECORD_IN_PARSING.WITHOUT_SUGGESTION] Malformed records are detected in record parsing: [765,null,null].
Parse Mode: FAILFAST. To process malformed records as null result, try setting the option 'mode' as 'PERMISSIVE'.
	at org.apache.spark.sql.errors.QueryExecutionErrors$.malformedRecordsDetectedInRecordParsingError(QueryExecutionErrors.scala:1611)
	at org.apache.spark.sql.catalyst.util.FailureSafeParser.parse(FailureSafeParser.scala:79)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser$.$anonfun$parseIterator$2(UnivocityParser.scala:457)
	at scala.collection.Iterator$$anon$11.nextCur(Iterator.scala:486)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:492)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:131)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:893)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:893)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:621)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:624)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: org.apache.spark.sql.catalyst.util.BadRecordException: org.apache.spark.SparkRuntimeException: [MALFORMED_CSV_RECORD] Malformed CSV record: 765
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.org$apache$spark$sql$catalyst$csv$UnivocityParser$$convert(UnivocityParser.scala:366)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.$anonfun$parse$2(UnivocityParser.scala:308)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser$.$anonfun$parseIterator$1(UnivocityParser.scala:453)
	at org.apache.spark.sql.catalyst.util.FailureSafeParser.parse(FailureSafeParser.scala:60)
	... 26 more
Caused by: org.apache.spark.SparkRuntimeException: [MALFORMED_CSV_RECORD] Malformed CSV record: 765
	at org.apache.spark.sql.errors.QueryExecutionErrors$.malformedCSVRecordError(QueryExecutionErrors.scala:1394)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.org$apache$spark$sql$catalyst$csv$UnivocityParser$$convert(UnivocityParser.scala:333)
	... 29 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2898)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2834)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2833)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2833)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1253)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1253)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1253)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:3102)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:3036)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:3025)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:995)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2393)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2414)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2433)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:530)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:483)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:61)
	at org.apache.spark.sql.Dataset.collectFromPlan(Dataset.scala:4333)
	at org.apache.spark.sql.Dataset.$anonfun$head$1(Dataset.scala:3316)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$2(Dataset.scala:4323)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:546)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:4321)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:4321)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:3316)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:3539)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:280)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:315)
	at jdk.internal.reflect.GeneratedMethodAccessor212.invoke(Unknown Source)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: org.apache.spark.SparkException: [MALFORMED_RECORD_IN_PARSING.WITHOUT_SUGGESTION] Malformed records are detected in record parsing: [765,null,null].
Parse Mode: FAILFAST. To process malformed records as null result, try setting the option 'mode' as 'PERMISSIVE'.
	at org.apache.spark.sql.errors.QueryExecutionErrors$.malformedRecordsDetectedInRecordParsingError(QueryExecutionErrors.scala:1611)
	at org.apache.spark.sql.catalyst.util.FailureSafeParser.parse(FailureSafeParser.scala:79)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser$.$anonfun$parseIterator$2(UnivocityParser.scala:457)
	at scala.collection.Iterator$$anon$11.nextCur(Iterator.scala:486)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:492)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:131)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenEvaluatorFactory$WholeStageCodegenPartitionEvaluator$$anon$1.hasNext(WholeStageCodegenEvaluatorFactory.scala:43)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:893)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:893)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:93)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:166)
	at org.apache.spark.scheduler.Task.run(Task.scala:141)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$4(Executor.scala:621)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally(SparkErrorUtils.scala:64)
	at org.apache.spark.util.SparkErrorUtils.tryWithSafeFinally$(SparkErrorUtils.scala:61)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:94)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:624)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	... 1 more
Caused by: org.apache.spark.sql.catalyst.util.BadRecordException: org.apache.spark.SparkRuntimeException: [MALFORMED_CSV_RECORD] Malformed CSV record: 765
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.org$apache$spark$sql$catalyst$csv$UnivocityParser$$convert(UnivocityParser.scala:366)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.$anonfun$parse$2(UnivocityParser.scala:308)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser$.$anonfun$parseIterator$1(UnivocityParser.scala:453)
	at org.apache.spark.sql.catalyst.util.FailureSafeParser.parse(FailureSafeParser.scala:60)
	... 26 more
Caused by: org.apache.spark.SparkRuntimeException: [MALFORMED_CSV_RECORD] Malformed CSV record: 765
	at org.apache.spark.sql.errors.QueryExecutionErrors$.malformedCSVRecordError(QueryExecutionErrors.scala:1394)
	at org.apache.spark.sql.catalyst.csv.UnivocityParser.org$apache$spark$sql$catalyst$csv$UnivocityParser$$convert(UnivocityParser.scala:333)
	... 29 more

In [197]:
employeeSchema = StructType([
    StructField('Employee_id',IntegerType(),True),
    StructField("Empname",StringType(),True),
    StructField("Salery",IntegerType(),True)
])

In [198]:
employeeDf = spark.read.csv("C:\datasets\datasets\employee.csv",header= True,schema = employeeSchema)

In [200]:
employeeDf.printSchema()

root
 |-- Employee_id: integer (nullable = true)
 |-- Empname: string (nullable = true)
 |-- Salery: integer (nullable = true)

In [201]:
employeeDf.show()

+-----------+-------+------+
|Employee_id|Empname|Salery|
+-----------+-------+------+
|        111|    zzz|  8000|
|        111|    aaa|  8888|
|        121|    bbb|  8000|
|       NULL|    ccc|  9000|
|       NULL|    ddd|  6000|
|        555|    eee|  7000|
|        765|   NULL|  NULL|
|        666|    fff|  8890|
|       NULL|   NULL|  NULL|
|       NULL|   NULL|  NULL|
|       NULL|   NULL|  NULL|
|       NULL|      b|  NULL|
|       NULL|   NULL|  NULL|
|       1000|   null|  NULL|
|        222|   NULL|  NULL|
+-----------+-------+------+

In [202]:
employeeDf = spark.read.option("mode","dropmalformed").csv("C:\datasets\datasets\employee.csv",header= True,schema = employeeSchema)
employeeDf.show()

+-----------+-------+------+
|Employee_id|Empname|Salery|
+-----------+-------+------+
|        111|    zzz|  8000|
|        111|    aaa|  8888|
|        121|    bbb|  8000|
|        555|    eee|  7000|
|        666|    fff|  8890|
+-----------+-------+------+

In [203]:
employeeDf.rdd.getNumPartitions()

1

In [207]:
sales_df.rdd.getNumPartitions()

3

In [209]:
sales_df.select("country","state","city").filter("country='India'").count()

1555

In [212]:
sales_df=sales_df.repartition(8)
sales_df.select("country","state","city").filter("country='United States'").count()

9994

In [213]:
salesdf_coal_df = sales_df.coalesce(5)
salesdf_coal_df.count()

51290

In [214]:
sales_df.explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Exchange RoundRobinPartitioning(8), REPARTITION_BY_NUM, [plan_id=8223]
   +- FileScan csv [ID#3344,OrderID#3345,OrderDate#3346,ShipDate#3347,ShipMode#3348,CustomerID#3349,CustomerName#3350,Segment#3351,City#3352,State#3353,Country#3354,PostalCode#3355,Market#3356,Region#3357,ProductID#3358,Category#3359,Sub-Category#3360,ProductName#3361,Sales#3362,Quantity#3363,Discount#3364,Profit#3365,ShippingCost#3366,OrderPriority#3367] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/C:/datasets/datasets/superstore.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<ID:int,OrderID:string,OrderDate:string,ShipDate:string,ShipMode:string,CustomerID:string,C...

In [5]:
sales_df.createOrReplaceTempView("sales")

In [6]:
spark.sql("select country,state from sales limit 5").show()

+-------------+---------------+
|      country|          state|
+-------------+---------------+
|United States|       New York|
|    Australia|New South Wales|
|    Australia|     Queensland|
|      Germany|         Berlin|
|      Senegal|          Dakar|
+-------------+---------------+